

<div class="row">
	<div class="col-md-6">
		<div class ="panel panel-default">
		<div class="panel-body">
			<h1>Why?</h1>
			<p> Easily collect and curate memories from traveling with Travista.
			</p>

			<%= image_tag "schwangau.jpg", class: "img-responsive" %>
			
			<p> Santosh is an avid traveler and believes that we learn the most by getting out and exploring our surroundings. While he spends time exploring what the US has to offer, he's made a promise to himself of visiting one new country each year as long as he's able and actively .
			</p>
		</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class ="panel panel-default">
		<div class="panel-body">
			<h1>Travista</h1>
			
			<p>
				The current methods of collecting and curating memories are time consuming and fragment the memories and learnings of our visits to places both near and far. 
			</p>
			<p>
				<strong>Travista</strong> allows one to easily collect and curate their memories in one place. No longer are pictures and memories lost in the vast expanse of one's Timeline or Feed. 

				One can even add to their collections after-the-fact as day-to-day experiences often times leave us nostalgic and remind us of our travels.
			</p>
		</div>
	</div>
	</div>
</div>